<a href="https://colab.research.google.com/github/Aparna-thomas-mishra/Python_codes/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables

These are containers to store values.

In [ ]:
# Casting - specify the datatype of a variable

x=str(3)
y=float(5)
z=int(10)

In [ ]:
# Get datatype of a variable

print(type(x))

<class 'str'>

In [ ]:
type(y)

float

Multi-words variable names

- camelCase - myVariableName
- PascalCase - MyVariableName
- snake_case - my_variable_name

In [ ]:
# Assign many values to multiple variables

x, y, z = 'Apple','Banana','Mango'
print(x)
print(y)
print(z)

Apple
Banana
Mango

In [ ]:
# one value to multiple variables

x=y=z ='orange'

print(x)
print(y)
print(z)

orange
orange
orange

In [ ]:
# upack a list

fruits =['Apple','Banana','Mango']
x,y,z = fruits

print(x)
print(y)
print(z)

Apple
Banana
Mango

In [ ]:
# Concatenate multiple variables

x, y, z = 'Apple','Banana','Mango'

print(x,y,z)

Apple Banana Mango

In [ ]:
print(x+y+z)

AppleBananaMango

In [ ]:
# Global Variables - variables that are created outside of a function

x='awesome'

def myFunc():
  print('Python is ' + x)

myFunc()

print(x)

Python is awesome
awesome

In [ ]:
# Variables created inside a function are accessible only in the function. however, to use this variable outside put keyword global

def myFunc():
  global x
  x='nice'

myFunc()

print('Python is',x)

Python is nice

DataTypes

Default Python Datatypes:

- Text types - str
- Numeric types - int, float, complex
- sequence types - list, tuple, range
- mapping types - dict
- set types - set, frozenset
- boolean types - bool
- binary types - bytes, bytearray, memoryview
- none types - NoneType

In [ ]:
# display a random number between 1 to 10

import random

# x=random.randrange(1,100)
# print(x)

# optimized code
print(random.randrange(1,100))

79

In [ ]:
# Casting - Specify a variable type using constructor functions
# int(), float(), str() etc

x=5.6
print(int(x))

5

In [ ]:
# looping through a string

for x in 'banana':
  print(x)

b
a
n
a
n
a

In [ ]:
# find string length

x='banana'
print(len(x))

# optimized code
print(len('banana'))

6
6

In [ ]:
# Check if a certain phrase is available in a string

word = 'This is a beautiful world'

chec = str(input())

print(chec in word)

were
False

In [ ]:
# Check if a certain phrase is not available in a string

word = 'This is a beautiful world'

chec = str(input())

print(chec not in word)

were
True

In [ ]:
# Check if a certain phrase is not available in a string using if statement

word = 'This is a beautiful world'

chec = str(input())

if chec not in word:
  print('sorry the word is not present')
else:
  print('hurray')

not
sorry the word is not present

In [ ]:
# slicing a string

print(word[3:9])

s is a

In [ ]:
# slice a string from the start

print(word[:6])

This i

In [ ]:
# slice till the end

print(word[5:])

is a beautiful world

In [ ]:
# Negative indexing - start the slicing from the end

print(word[-5:-2])

wor

In [ ]:
# return string in upper case

print(word.upper())

THIS IS A BEAUTIFUL WORLD

In [ ]:
# return string in lower case

print(word.lower())

this is a beautiful world

In [ ]:
# remove whitespace from beginning and end

a=' Hello World  '
print(a.strip())

Hello World

In [ ]:
# replace a string with another string

print(a.replace('H','J'))

 Jello World

In [ ]:
# combine string and numbers using format()

age = input()
txt = 'Your age is {}'

print(txt.format(age))

30
Your age is 30

In [ ]:
# format() method takes unlimited number of arguments, and are placed into the respective placeholders

name = input('Enter your name ')
age = input('Enter your age ')
place = input('Wnere do you live ')
txt = 'Hi.\nMy name is {}.\nI am {} years old. \nI live in {}'

print(txt.format(name, age, place))

Enter your name Aparna
Enter your age 30
Wnere do you live KY
Hi.
My name is Aparna.
I am 30 years old.
I live in KY

In [ ]:
txt = 'Hi. \n My name is'

print(txt)

Hi.
 My name is

In [ ]:
# String Methods

# Method	Description
# capitalize() -	Converts the first character to upper case
# casefold() -	Converts string into lower case
# center() -	Returns a centered string
# count() -	Returns the number of times a specified value occurs in a string
# encode() -	Returns an encoded version of the string
# endswith() -	Returns true if the string ends with the specified value
# expandtabs() -	Sets the tab size of the string
# find() -	Searches the string for a specified value and returns the position of where it was found
# format() -	Formats specified values in a string
# format_map() -	Formats specified values in a string
# index() -	Searches the string for a specified value and returns the position of where it was found
# isalnum() -	Returns True if all characters in the string are alphanumeric
# isalpha()	- Returns True if all characters in the string are in the alphabet
# isascii() -	Returns True if all characters in the string are ascii characters
# isdecimal() -	Returns True if all characters in the string are decimals
# isdigit() -	Returns True if all characters in the string are digits
# isidentifier() -	Returns True if the string is an identifier
# islower() -	Returns True if all characters in the string are lower case
# isnumeric() -	Returns True if all characters in the string are numeric
# isprintable() -	Returns True if all characters in the string are printable
# isspace() -	Returns True if all characters in the string are whitespaces
# istitle() -	Returns True if the string follows the rules of a title
# isupper() -	Returns True if all characters in the string are upper case
# join() -	Joins the elements of an iterable to the end of the string
# ljust() -	Returns a left justified version of the string
# lower() -	Converts a string into lower case
# lstrip() -	Returns a left trim version of the string
# maketrans() -	Returns a translation table to be used in translations
# partition() -	Returns a tuple where the string is parted into three parts
# replace() -	Returns a string where a specified value is replaced with a specified value
# rfind() -	Searches the string for a specified value and returns the last position of where it was found
# rindex() -	Searches the string for a specified value and returns the last position of where it was found
# rjust() -	Returns a right justified version of the string
# rpartition() -	Returns a tuple where the string is parted into three parts
# rsplit() -	Splits the string at the specified separator, and returns a list
# rstrip() -	Returns a right trim version of the string
# split() -	Splits the string at the specified separator, and returns a list
# splitlines() -	Splits the string at line breaks and returns a list
# startswith() -	Returns true if the string starts with the specified value
# strip() -	Returns a trimmed version of the string
  # swapcase() -	Swaps cases, lower case becomes upper case and vice versa
# title() -	Converts the first character of each word to upper case
# translate() -	Returns a translated string
# upper() -	Converts a string into upper case
# zfill() -	Fills the string with a specified number of 0 values at the beginning

Python Operators

- Arithmetic - Mathematical operations
    - +, -, *, / *(division),% (Modulus)*, ** (Exponential), // (floor division)
- Assignment - used to assign values to variables
    - = , += (x +=3 => x=x+3), -=, *=, /=, %=, //=, **=, &= (AND), |=, ^=, >>=,<<=
- Comparison - Compare 2 values
    - ==, !=, >, <, >=, <=
- Logical - Used to combine conditional statements
    - and, or, not
- Identity - check if both the variables are the same object with the same memory location
    - is (returns True if both variables are same object), is not
- Membership - test if a sequence is present in an object
    - in (returns True if a specified sequence is present in the object), not in
- Bitwise - used to compare binary numbers
    - &, |, ^(xor - returns True if only 1 value is 1), ~ (not), << (shift left by the specified numver of zeros and let the leftmost bits fall off, x<<2), >>

Arrays:

- List - ordered and changeable. allows duplicate
- Tuples - ordered and unchangeable. allows duplicate
- Set - unordered, unchangeable and unindexed. no duplicates allowed
- Dictionary - ordered and changeable. noo duplicates allowed

List

- Used to store multiple items in the same variable.
- Allow duplicate values
- denoted with []
- first item is always indexed with [0]
- use list() consturctor to create list
  - fruits = list(('Apple', 'Banana'))

In [1]:
# List length

fruits =['Apple', 'Orange', 'Mango']
print(len(fruits))

3

In [2]:
# create list using list() constructor

fruits=list(('Apple', 'Banana', 'Mango'))
print(fruits)

['Apple', 'Banana', 'Mango']

In [12]:
# search will start at 1 included and 2 excluded

print(fruits[1:2])

# print all from first will 2nd index

print(fruits[:2])

# print all from 1st index till last

print(fruits[1:])

# Negative indexes

print(fruits[-2:])

['Banana']
['Apple', 'Banana']
['Banana', 'Mango']
['Banana', 'Mango']

In [4]:
# check if item exists

if 'Apple' in fruits:
  print('True')

True

In [16]:
# Insert item in list

fruits =['Apple', 'Orange', 'Mango']
fruits.insert(2,'watermelon') #insert(postiion, item)
print(fruits)

['Apple', 'Orange', 'watermelon', 'Mango']

In [17]:
# add item to end of the list

fruits.append('Cherry')
print(fruits)

['Apple', 'Orange', 'watermelon', 'Mango', 'Cherry']

In [18]:
# insert item in list

fruits.insert(1, 'Pear')
print(fruits)

['Apple', 'Pear', 'Orange', 'watermelon', 'Mango', 'Cherry']

In [19]:
# append items of one list to current list

tropical = ['Pineapple', 'Grapes']
fruits.extend(tropical)
print(fruits)

# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

['Apple', 'Pear', 'Orange', 'watermelon', 'Mango', 'Cherry', 'Pineapple', 'Grapes']

In [20]:
# remove specified item in list

fruits.remove('Cherry')
print(fruits)

['Apple', 'Pear', 'Orange', 'watermelon', 'Mango', 'Pineapple', 'Grapes']

In [21]:
# remove an item from a specified list through index

fruits.pop(1)
print(fruits)

['Apple', 'Orange', 'watermelon', 'Mango', 'Pineapple', 'Grapes']

In [22]:
# remove an item from a specified list through index

del fruits[2]
print(fruits)

['Apple', 'Orange', 'Mango', 'Pineapple', 'Grapes']

In [23]:
# remove the entire list

del fruits

In [24]:
# clear the list

fruits =['Apple','Banana', 'Mango']
fruits.clear()
print(fruits)

[]

In [25]:
# Loop through a list

fruits =['Apple','Banana', 'Mango']
for x in fruits:
  print(x)

Apple
Banana
Mango

In [28]:
# loop through index numbers

for steps in range(len(fruits)):
  print(fruits[steps])

Apple
Banana
Mango

In [30]:
# iterate through a list using while loop

counter=0
while counter<len(fruits):
  print(fruits[counter])
  counter= counter+1

Apple
Banana
Mango

In [42]:
# Looping using list comprehension

fruits =['Apple','Banana', 'Mango','Cherry']
[print(x) for x in fruits]

Apple
Banana
Mango
Cherry

[None, None, None, None]

In [37]:
# List Comprehesion offers short syntax when you want to create a new list based on the values of existing list

# new_list=[]

# for steps in fruits:
#   if 'n' in steps:
#     new_list.append(steps)

# print(new_list)

new_list=[steps for steps in fruits if 'n' in steps]
print(new_listx)

['Banana', 'Mango']

In [43]:
# Sort list alphabetically
# This is case-sensitive

fruits.sort()
print(fruits)

['Apple', 'Banana', 'Cherry', 'Mango']

In [44]:
# Sort descending

fruits.sort(reverse=True)
print(fruits)

['Mango', 'Cherry', 'Banana', 'Apple']

In [52]:
# Sort the list as to how close it is to a certain number
# customize sort function

def new_sort(n):
  return abs(n-80)

num =[45, 67, 80, 24, 100]
num.sort(key=new_sort)
print(num)

[80, 67, 100, 45, 24]

In [53]:
# Sort with case insensitive

fruits.sort(key=str.lower)
print(fruits)

['Apple', 'Banana', 'Cherry', 'Mango']

In [55]:
# copy a list

new_list=fruits.copy()
print(new_list)

# Copy with list contructor

mylist=list(fruits)
print(mylist)

['Apple', 'Banana', 'Cherry', 'Mango']
['Apple', 'Banana', 'Cherry', 'Mango']

In [56]:
# join 2 lists

print(new_list+mylist)

['Apple', 'Banana', 'Cherry', 'Mango', 'Apple', 'Banana', 'Cherry', 'Mango']

**Tuples**

Store multiple items in single variable

this is ordered and unchangeable(change, remove or add items) and allows duplicate

In [62]:
tup=('Apple', 'Cherry', 'Banana')
print(tup)
print(type(tup))

# length of tuple

print(len(tup))

('Apple', 'Cherry', 'Banana')
<class 'tuple'>
3
<class 'str'>
<class 'tuple'>

In [63]:
# tuple with one item

# not a tuple
tup1 = ('Apple')
print(type(tup1))

# tuple
tup1=('Apple',)
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [80]:
# create tuple with tuple() constructor

tup=tuple(('Apple','Cherry','Strawberry','Mango'))
print(tup)

# Access tuple items through index
print(tup[1])

# negative indexing
print(tup[-1])

# range of indexes
# 1 is included and 3 excluded
print(tup[1:3])

('Apple', 'Cherry', 'Strawberry', 'Mango')
Cherry
Mango
('Cherry', 'Strawberry')

In [81]:
# check if item exists

if "Cherry" in tup:
  print('True')

True

In [82]:
# tuples are immutable or unchangeable. to change an item in tuple convert it to list

lst=list(tup)
lst[2]="Watermelon"
tup=tuple(lst)
print(tup)

# same can be done to append, remove, pop, insert items
# del can be used to delete complete tuple

('Apple', 'Cherry', 'Watermelon', 'Mango')

In [83]:
# add tuple to tuple

tup1=('Orange',)
tup = tup+tup1
print(tup)

('Apple', 'Cherry', 'Watermelon', 'Mango', 'Orange')

In [85]:
# packing a tuple

tup=('Apple', 'Banana','Orange')
print(tup)

# unpacking a tuple. extract tuple values to variables
(red, yellow, orange)=tup
print(red)

('Apple', 'Banana', 'Orange')
Apple

In [87]:
# Using *Asterik for assigning variables when the number of variables are less than the items

tup=('Apple', 'Banana','Orange')
(red,*yellow)=tup

print(red)
print(yellow) #remaining items are assigned to variable as list

Apple
['Banana', 'Orange']

In [89]:
# loop through tuple index numbers

for steps in range(len(tup)):
  print(tup[steps])

count=0
while count<len(tup):
  print(tup[count])
  count += 1

Apple
Banana
Orange
Apple
Banana
Orange

In [91]:
# join 2 tuples

tup1=('Mango', 'Pear')

tup3=tup+tup1
print(tup3)

('Apple', 'Banana', 'Orange', 'Mango', 'Pear')

**Sets**

store muliple items in a variable
sets are unordered, unindexed and unchangeable

Once a set is created, you cannot change its items, but you can remove items and add new items.

In [94]:
st={'Apple','Banana','Strawberry','Cherry'}
print(st)

print(type(st))

print(len(st))

{'Apple', 'Strawberry', 'Banana', 'Cherry'}
<class 'set'>
4

In [103]:
# Create set using set() constructor

st=set(('Apple', 'Cherry', 'Mango'))
print(st)

# the set list is unordered, so the result will display the items in a random order

{'Apple', 'Mango', 'Cherry'}

In [102]:
# access items in set

for x in st:
  print(x)

Apple
Mango
Cherry

In [104]:
# check if an item is present in set

print('Apple' in st)

True

In [106]:
# Add items

st.add('Orange')
print(st)

# Add items from another set into the current set
st1={'Pear','Grapes'}
st.update(st1)
print(st)

# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

{'Apple', 'Mango', 'Cherry', 'Orange'}
{'Pear', 'Mango', 'Cherry', 'Orange', 'Apple', 'Grapes'}

In [114]:
st={'Apple','Banana','Strawberry','Cherry'}

# remove item

st.remove("Banana")
print(st)

# we can also use discard

st.discard("Cherry")
print(st)

# remove a random item using pop
st.pop()
print(st)

# empty the set
st.clear()
print(st)

# delete the set completely
del st

{'Apple', 'Strawberry', 'Cherry'}
{'Apple', 'Strawberry'}
{'Strawberry'}
set()

In [117]:
# join 2 sets

st1={'Apple', 'Cherry', 'Banana'}
st2={1,2,5,6,7}

st3=st1.union(st2)
print(st3)

st1.update(st2)
print(st1)

{'Banana', 1, 2, 5, 6, 7, 'Cherry', 'Apple'}
{'Banana', 1, 2, 5, 6, 7, 'Cherry', 'Apple'}

In [119]:
# keep only the duplicates

st1={'Apple', 'Cherry', 'Banana', 1,5,7}
st2={1,2,5,6,7}

st1.intersection_update(st2)
print(st1)

st3=st1.intersection(st2)
print(st3)

{1, 5, 7}
{1, 5, 7}

In [123]:
# Keep all except duplicates

st1={'Apple', 'Cherry', 'Banana', 1,5,7}
st2={1,2,5,6,7}

st1.symmetric_difference_update(st2)
print(st1)

st3=st1.symmetric_difference(st2)
print(st1)

# True and 1 are considered the same

{'Banana', 2, 'Cherry', 'Apple', 6}
{'Banana', 2, 'Cherry', 'Apple', 6}

**Dictionaries**

store values in key:value pairs
this is ordered, changeable and do not allow duplicates

In [127]:
d1={"Apple":5, "Banana":4,"Watermelon":10, "Cherry":3}
print(d1)

print(type(d1))

print(len(d1))

{'Apple': 5, 'Banana': 4, 'Watermelon': 10, 'Cherry': 3}
<class 'dict'>
4

In [126]:
# Print value of a dictionary key

print(d1['Apple'])

5

In [1]:
# create dictionary using dict() constructor

d1=dict(name='John', age=30, country='India')
print(d1)

{'name': 'John', 'age': 30, 'country': 'India'}

In [4]:
# Access values in dictionary

print(d1['name'])

# Access value using get()

print(d1.get('name'))

John
John

In [6]:
# keys() method to get all the keys in the dictionary

print(d1.keys())

dict_keys(['name', 'age', 'country'])

In [7]:
# Add new item in dict

d1['salary']=10000
print(d1)

{'name': 'John', 'age': 30, 'country': 'India', 'salary': 10000}

In [8]:
# get values in the dict

print(d1.values())

dict_values(['John', 30, 'India', 10000])

In [9]:
# return each value in a dictionary

print(d1.items())

dict_items([('name', 'John'), ('age', 30), ('country', 'India'), ('salary', 10000)])

In [10]:
# update value in a dictionary

d1['country']='Norway'
print(d1)

{'name': 'John', 'age': 30, 'country': 'Norway', 'salary': 10000}

In [11]:
# check if key exists in dictionary

if 'name' in d1:
  print(True)

True

In [14]:
# update value in dictionary

d1.update({'name':'Himanshu'})
print(d1)

{'name': 'Himanshu', 'age': 30, 'country': 'Norway', 'salary': 10000}

In [15]:
# remove item from dictionary

d1.pop('country')
print(d1)

{'name': 'Himanshu', 'age': 30, 'salary': 10000}

In [5]:
# remove the last inserted item

d1={"Apple":5, "Banana":4,"Watermelon":10, "Cherry":3}

d1.popitem()
print(d1)

{'Apple': 5, 'Banana': 4, 'Watermelon': 10}

In [6]:
# remove specific item in a dictionary

del d1['Banana']
print(d1)

# del keyword can also be used to delete the dictionary completely

{'Apple': 5, 'Watermelon': 10}

In [7]:
# clear keyword empties the dictionary

d1.clear()
print(d1)

{}

In [13]:
# Loop through dictionary

d1={"Apple":5, "Banana":4,"Watermelon":10, "Cherry":3}

for steps in d1:
  print(steps)

# print all values
for steps in d1:
  print(d1[steps])

# print all keys
for steps in d1.keys():
  print(steps)

# print all values
for steps in d1.values():
  print(steps)

# print key and values
for s,t in d1.items():
  print(s,t)

Apple
Banana
Watermelon
Cherry
5
4
10
3
Apple
Banana
Watermelon
Cherry
5
4
10
3
Apple 5
Banana 4
Watermelon 10
Cherry 3

In [16]:
# copy a dictionary to another one

d2=d1.copy()
print(d2)

d2=dict(d1)
print(d2)

{'Apple': 5, 'Banana': 4, 'Watermelon': 10, 'Cherry': 3}
{'Apple': 5, 'Banana': 4, 'Watermelon': 10, 'Cherry': 3}

In [18]:
# Nested dictionary

d1={'Child1':{'Name':'Anaya','Age':6}, 'Child2':{'Name':'Anay','Age':6}, 'Child3':{'Name':'Avyan', 'Age':3}}
print(d1)

{'Child1': {'Name': 'Anaya', 'Age': 6}, 'Child2': {'Name': 'Anay', 'Age': 6}, 'Child3': {'Name': 'Avyan', 'Age': 3}}

In [20]:
# Create 3 dictionaries then combine them in another dictionary

Child1={'Name':'Anaya','Age':6}
Child2={'Name':'Anay','Age':6}
Child3={'Name':'Avyan', 'Age':3}

myFamily={'Child1':Child1, 'Child2':Child2, 'Child3':Child3}
print(myFamily)

{'Child1': {'Name': 'Anaya', 'Age': 6}, 'Child2': {'Name': 'Anay', 'Age': 6}, 'Child3': {'Name': 'Avyan', 'Age': 3}}

In [21]:
# Access items in Nested Dictionary

print(myFamily['Child3']['Age'])

3